* {
	margin: 0 0 1px 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	background: #000;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

section#logo {
	background-color: #292929; 
	height: 8.5vh; 
}

div#logo1 {
	padding: 10px 0 10px 100px;
	font-size: 5vh;
	font-weight: bold;
	color: white;
	width: 10%;
}

div#logo2 {
	padding: 2px 5px;
	font-size: 5vh;
	font-weight: bold;
	color: black;
	background-color: orange;
	position: absolute;
	top: 1vh;
	left: 28vh;
	width: 18vh;
}

div#searchbar {
	height: 10vh; 
	width: 100vw;
}

.search	{
	padding: 4px 5px;
	width: 50vw;
	height: 30px;
	background-color: #383838;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	color: #808080;
	position: absolute;
	top: 20px;
	left: 370px;
}

section#banner {
	background-color: #292929; 
	height: 6vh; 
}

section#banner > nav > div {
	display: inline-block;
	padding:  2.3vh 2.5vh;
	height: 6vh;
	width: 30vh;
	text-align: center;
	font-size: 1.8vh;
	font-weight: bolder;
	position: relative;
	left: 13vh;
}

section#banner > nav > div:hover {
	background-color: #1c1c1c;
	border-bottom: 3px solid orange;
}

section#maincontent {
	text-align: center;
	font-size: 15vh;
	font-weight: bolder;
}