* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	font-family: sans-serif;
	font-size: 2.4vh;
	font-weight: bold;
}

article {
	display: flex;
	height: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

article > section {
	padding: 5px;
	background-color: lightblue;
	font-size: 1.6vh;
	text-align: center;
}

article > section > img {
	display: inline-block;
}

@media only screen and (min-width: 1200px) {
	body {
		font-size: 1.6vh;
	}

	article {
		font-size: 3.2vh;
		flex-direction: column;
	}

	article > section > img {
		height: 50%;
		width: 50%;
		justify-content: space-even;
	}
}