* {
	margin: 0 0 1px 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

body {
	font-family: Arial,Helvetica,sans-serif;
	background-color: #e6e6e6;
}

section#titlepic {
	text-align: center;
	margin: 2vh 2vh 0 2vh;
}

section#intro {
	text-align: center;
	font-size: 20px;
	color: black;
	line-height: 30px;
	padding: 5vh 5vh 3vh 5vh;
}