* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

div {
	max-width: 100%;
}

h1 {
	opacity: 0.5;
	height: 20vh;
	position: absolute;
	top: 7vh;
	text-align: center;
	font-family: 'Merriweather', serif;
	font-size: 50px;
}

.photo {
	left: 8vh;
}

.title {
	left: 90vh;
}

.info {
	left: 156vh;
}

p {
	position: fixed;
	opacity: 0;
}

.places {
	top: 32vh;
	font-family: 'Merriweather', serif;
	font-size: 35px;
	left: 10vh;
	font-weight: bold;
}

.intro {
	top: 33vh;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	left: 77vh;
	font-weight: bold;
}

.contact {
	top: 27vh;
	left: 166vh;
	font-size: 200px;
	font-family: 'Copperplate', fantasy;
	font-weight: bolder;
}

div:hover > img {
	opacity: 0.3;
}

div:hover > h1 {
	opacity: 1;
}

div:hover > p {
	opacity: 1;
}
